.loading-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

.loading-circle {
  box-sizing: border-box;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: calc(50% - 6vh);
  left: calc(50% - 6vw);
  border-radius: 100%;
  border: 10px solid rgb(138, 138, 138);
  border-top-color: rgb(112, 112, 112);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loaded {
  top: -100%;
  transition: top 0.5s;
  transition-delay: 2s;
}
