html, body {
  position: fixed;
  background-color: rgb(53, 53, 53);
  color: #bbb;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#container {
  height: 98%;
  margin: 0 0.1% 0 0.1%;
}
#container::before {
  display: block;
  content: "";
  height: 0.1%;
}

/* Channel Window */
.channel-root-container {
  font-size: 3vh;
  color: #bbb;
  margin-left: 0.3vw;
  background-color: rgb(31, 31, 31);
  border-style: solid;
  border-width: 0.0007%;
  border-color: rgb(71, 71, 71);
  float: left;
  width: calc(100% - 0.6%);
  height: 85%;
  border-radius: 0.1%;
  overflow-x: hidden;
  overflow-y: auto;
}

.branch img {
  width: 3%;
  height: 3%;
}
.branch {
  float: left;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}
.channel-sub {
  background: linear-gradient(black, rgb(54, 54, 54));
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 0.0007%;
  border-color: rgb(71, 71, 71);
}
.user {
  margin-left: 9px;
  font-size: 80%;
}
.user-status, .channel-status {
  float: right;
}
.user,.channel{
  height: 3.5vh;
  padding: 0.1%;
  border: 1px solid transparent;
}
.selected {
  border: 0.01vh solid gray;
  border-radius: 0.1vh;
}
.user:hover,.channel:hover {
  background-color: rgb(48, 48, 48);
}
.thisClient {
  font-weight: bold
}
.currentChannel {
  font-weight: bold
}
.user-status img, .channel-status img {
  width: 2vw;
  height: 2vh
}
.channel img, .user img {
  width: auto;
  height: 2vh;
}
.channel-name, .user-name {
  display: inline;
}
.channel:hover .tooltip, .user:hover .tooltip {
  visibility: visible;
  height: auto;
  transition-delay: 1s;
}
.tooltip {
  visibility: hidden;
  height: 0px;
  background: white;
  border: 1px solid gray;
  margin-top: 16px;
  margin-left: 30px;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

.channel-icon .channel-icon-active {
  display: none;
}
.channel-tag {
  font-weight: bold;
  color: orange;
}
.user-tag {
  font-weight: bold;
  color: green;
}

/* Toolbar */
.toolbar {
  height: 5.5vh;
  background-color: rgb(19, 19, 19);
  border-width: 0.0007%;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  margin-left: 0.3%;
  margin-bottom: 1%;
}
.toolbar img {
  height: 4vh;
  width: auto;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.toolbar img:hover {
  border: 1px solid #bbb;
  background-color: #ddd;
}
.toolbar .tb-active {
  border: 1px solid #bbb;
  background-color: rgb(66, 66, 66);
}
.divider {
  display: inline-block;
  height: 5vh;
  border-left: 1px rgb(145, 145, 145) solid;
}
.handle-horizontal {
  width: auto !important;
  border: none !important;
}
.handle-vertical {
  display: none;
}

/* Connect - Box */

.dialog-close {
  float: left;
}
.connect-dialog {
  top: calc(30%);
  left: calc(25%);
}
.connect-dialog-submit {
  width: 50vw;
  height: 30vh;
  float: center;
  font-size: 400%;
  border: 3px gray solid;
  border-radius: 20%;
  background: linear-gradient( rgb(179, 29, 29), rgb(141, 22, 22));
  color: black;
  padding: 1px;  
}
.dialog-submit {
  float: right;
}

.dialog {
  position: absolute;
  z-index: 20;
}


/*Settings */
.dialog-header {
  height: 20px;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: center;
  color: white;
  background-color: gray;
  border-bottom: 1px solid darkgray;
}
.dialog-footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  margin: 10px;
}
.settings-dialog {
  width: 300px;
  height: 156px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}
.settings-dialog table {
  width: 100%;
  padding: 5px;
}
.settings-dialog td {
  width: 50%;
}
.settings-dialog table select {
  width: 100%;
}
.settings-dialog table input {
  width: 100%;
  margin: 0px;
}
.settings-dialog .mic-volume-container {
  height: 10px;
  border: 3px solid black;
}
.settings-dialog .mic-volume {
  height: 100%;
}
.dialog-close, .dialog-submit {
  width: 45%;
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 1px;
}


/* NDI window */

.NDIwindow {
  height: 50vh;
  width: 100vw;
}
/* Talk-button */

.talk-button {
  width: 98%;
  height: 9vh;
  line-height: 9vh;
  float: left;
  font-size: 600%;
  text-align: center;
  border-style: solid;
  border-color: rgb(71, 71, 71);
  border-width: 0.0007%;
  border-radius: 1%;
  background: linear-gradient(rgb(45, 133, 52),rgb(19, 59, 22));
  color: rgb(0, 0, 0);
  padding: 1px; 
  margin-left: 0.8%;
}

.talk-button:active {
border-color: yellow
}

