html, body {
  position: fixed;
  background-color: rgb(53, 53, 53);
  color: #bbb;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#container {
  height: 98%;
  margin: 0 0.1% 0 0.1%;
}
#container::before {
  display: block;
  content: "";
  height: 0.1%;
}

/* Channel Window */
.channel-root-container {
  font-size: 3vh;
  color: #bbb;
  margin-left: 0.3vw;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(56, 56, 56);
  float: left;
  width: calc(100% - 0.6vw);
  height: 35vh;
  border-radius: 0.1%;
  overflow-x: hidden;
  overflow-y: auto;
}

.branch img {
  height: 3vh;
}
.branch {
  float: left;
  padding-top: 1%;
  padding-bottom: 1%;
  /* margin-right: */
}
.channel-sub {
  margin-left: 9px;
  border-left: 1px transparent solid;
  padding-left: 9px;
}
.channel-wrapper:nth-last-child(n + 2) > .branch:not(:empty) + .channel-sub {
  border-left: 1px lightgray solid;
}
.channel-tree,
.user-wrapper {
  margin-left: 9px;
}
.channel-tree,
.user-tree {
  float: left;
}
.channel-tree::before,
.user-tree::before {
  content: "";
  display: block;
  position: relative;
  width: 9px;
  border-left: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  height: 1.7vh;
}
.channel-wrapper:nth-last-child(n + 2) > .channel-tree:after,
.user-wrapper:nth-last-child(n + 2) .user-tree:after {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  border-left: 1px lightgray solid;
  height: 1.7vh;
}
.user {
  margin-left: 9px;
}
.user-status, .channel-status {
  float: right;
}
.user,.channel{
  height: 3.5vh;
  padding: 0.1%;
  border: 1px solid transparent;
}
.selected {
  border: 0.01vh solid gray;
  border-radius: 0.1vh;
}
.user:hover,.channel:hover {
  background-color: rgb(48, 48, 48);
}
.thisClient {
  font-weight: bold
}
.currentChannel {
  font-weight: bold
}
.user-status img, .channel-status img {
  margin-top: 2px;
  width: 3vw;
  height: 3vh
}
.channel img, .user img {
  width: auto;
  height: 3.5vh;
}
.channel-name, .user-name {
  display: inline;
}
.channel:hover .tooltip, .user:hover .tooltip {
  visibility: visible;
  height: auto;
  transition-delay: 1s;
}
.tooltip {
  visibility: hidden;
  height: 0px;
  background: white;
  border: 1px solid gray;
  margin-top: 16px;
  margin-left: 30px;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

.channel-icon .channel-icon-active {
  display: none;
}
.channel-tag {
  font-weight: bold;
  color: orange;
}
.user-tag {
  font-weight: bold;
  color: green;
}

/* Toolbar */
.toolbar {
  height: 5vh;
}
.toolbar img {
  height: 4vh;
  width: auto;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.toolbar img:hover {
  border: 1px solid #bbb;
  background-color: #ddd;
}
.toolbar .tb-active {
  border: 1px solid #bbb;
  background-color: white;
}
.divider {
  display: inline-block;
  height: 32px;
  border-left: 1px lightgray solid;
}
.handle-horizontal {
  width: auto !important;
  border: none !important;
}
.handle-vertical {
  display: none;
}

/*Message */
#message-box {
  width: 100%;
  border: none;
  background: none;
  margin: 5px 0 5px 0;
  padding: 0;
  height: 20px;
}
form {
  margin: 0;
  padding: 0;
}
.message-content p {
  margin: 0;
}
.tb-information, .tb-record, .tb-comment {
  filter: grayscale(100%);
}

/* Connect - Box */
.dialog-header {
  height: 20px;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: center;
  color: white;
  background-color: gray;
  border-bottom: 1px solid darkgray;
}
.dialog-footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  margin: 10px;
}
.dialog-close {
  float: left;
}
.connect-dialog {
  width: 300px;
  height: 277px;
  top: calc(30% - 100px);
  left: calc(50% - 150px);
}
.connect-dialog input[type=text] {
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 2px;
  width: calc(100% - 8px);
}
.connect-dialog input[type=password] {
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 2px;
  width: calc(100% - 8px);
}
.dialog-connect {
  width: 100%;
  height: 11vh;
  float: right;
  font-size: 30px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: rgb(43, 134, 51);
  color: black;
  padding: 1px;  
}
.dialog-submit {
  float: right;
}
.dialog-close, .dialog-submit {
  width: 45%;
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 1px;
}
.connect-dialog table {
  text-align: center;
  width: 100%
}
.dialog {
  position: absolute;
  background-color: #eee;
  border: 1px gray solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 20;
}


/*Settings */
.settings-dialog {
  width: 300px;
  height: 156px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}
.settings-dialog table {
  width: 100%;
  padding: 5px;
}
.settings-dialog td {
  width: 50%;
}
.settings-dialog table select {
  width: 100%;
}
.settings-dialog table input {
  width: 100%;
  margin: 0px;
}
.settings-dialog .mic-volume-container {
  height: 10px;
  border: 3px solid black;
}
.settings-dialog .mic-volume {
  height: 100%;
}

/* NDI window */

.NDIwindow {
  height: 50vh;
  width: 100vw;
}
/* Talk-button */

.talk-button {
  width: 100%;
  height: 11vh;
  float: left;
  font-size: 400%;
  text-align: center;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: rgb(43, 134, 51);
  color: black;
  padding: 1px;  
}

